@*
The Init page serves a few important purposes.

1. Maui Hybrid and WASM apps do not setup the DI context exactly the same way. In MAUI, it is 
necessary to pass the JSRuntime into classes that are not UI components. This is a good place 
in the app bootstrap process to do that.

2. Using this intermediary page is handy for isolating the initialization logic/UI and making it 
simple to copy and reuse this page in other apps.

3. By design, this initialization step affects the ISessionsViewModel state and thus the display 
of the NavMenu.razor component. Generally, the NavMenu.razor component shows very little until 
the ISessionsViewModel is initialized.

Note: The ISessionsViewModel is generally first injected in the MainLayout.razor page.

*@

@namespace BlazorUI
@page "/"
@inherits LzCoreComponentBaseInjectViewModel<ISessionsViewModel>
@inject IJSRuntime JSRuntime 
@inject ILzHost Host
@inject HttpClient HttpClient 
@inject NavigationManager NavigationManager 

@if(ViewModel!.ConfigFound)
{
    if(ViewModel!.ConfigError)
    {
        <p>Could not read configuration </p>
    }
    else
    {
        <p>Reading Configuration</p>
    }
}

@code {
    private bool navigatedToHome = false;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("InitPage");
        if (!ViewModel!.IsInitialized)
        {
            var osAccess = new BlazorOSAccess(HttpClient, JSRuntime);
            var internetConnectivity = new InternetConnectivity(JSRuntime);   
            Console.WriteLine("About to new BaseAppJS");
            var baseAppJS = new BaseAppJS(JSRuntime, NavigationManager);
            await baseAppJS.Initialize();
            Console.WriteLine("Back from new BaseAppJS");
            await ViewModel.InitAsync(osAccess, internetConnectivity, baseAppJS);
        }
        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (ViewModel!.SessionViewModel is null && ViewModel!.ConfigFound)
        {
            try
            {
                await ViewModel.CreateSessionAsync();
            } catch (Exception ex)
            {
                Console.WriteLine($"CreateSessionAsync failed. {ex.Message}");
            }
        }

        if (!firstRender && ViewModel.IsInitialized && ViewModel.SessionViewModel is not null && !navigatedToHome)
        {
            navigatedToHome = true;
            NavigationManager.NavigateTo("HomePage");
        }

        await base.OnAfterRenderAsync(firstRender);
    }

}